torch==2.8.0
torchvision==0.23.0
numpy==2.2.6
trimesh==4.11.3
open3d==0.19.0
h5py==3.15.1
Pillow==11.3.0
matplotlib==3.10.8
omegaconf==2.3.1
jaxtyping==0.3.7
scipy==1.15.3
opencv-python-headless==4.11.0.86
typeguard==4.5.2
